.navbar {
  position: fixed;
  top: 0;
  padding: 1rem;
  z-index: 1;
  height: 30px;
  width: 100%;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navbar__header {
  background-color: #111111;
}

.navbar__logo {
  position: fixed;
  left: 1rem;
  width: 128px;
  object-fit: contain;
}

.navbar__avatar {
  position: fixed;
  right: 1rem;
  width: 30px;
  object-fit: contain;
}